﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form method="post">
        <label>Please enter the temperature in Fahrenheit</label>
        <input type="text" asp-for="Temperature" value=""/>
        <button type="submit">Convert</button>
    </form>
</div>
<p>@Model.Message</p>